RewriteEngine On
RewriteBase /2016
RewriteRule "^0$"  "https://html5zombo.com"
RewriteRule "^1$"  "https://www.inf.tu-dresden.de/"
RewriteRule "^2$"  "https://jexam.inf.tu-dresden.de/"
RewriteRule "^3$"  "https://www.inf.tu-dresden.de/content/study/regulations/download/ba-inf/2009/study.app.2.de.pdf"
RewriteRule "^4$"  "https://www.inf.tu-dresden.de/content/study/regulations/download/ba-minf/2009/study.app.2.de.pdf"
RewriteRule "^5$"  "https://tu-dresden.de/die_tu_dresden/fakultaeten/fakultaet_informatik/studium/dateien/studien_und_pruefungsordnungen/dipl_inf_so_app1_de.pdf"
RewriteRule "^6$"  "https://www.inf.tu-dresden.de/index.php?node_id=2709"
RewriteRule "^7$"  "https://www.inf.tu-dresden.de/index.php?node_id=904"
RewriteRule "^8$"  "https://www.inf.tu-dresden.de/index.php?node_id=906"
RewriteRule "^9$"  "http://sprachausbildung.tu-dresden.de"
RewriteRule "^10$" "https://tu-dresden.de/lsk/lskonline"
RewriteRule "^11$" "http://www.tudias.de/de/Sprachschule.html"
RewriteRule "^12$" "https://www.studentenwerk-dresden.de/wohnen/wohnheimkatalog"
RewriteRule "^13$" "https://wg-gesucht.de/"
RewriteRule "^14$" "https://idm-service.tu-dresden.de"
RewriteRule "^15$" "https://www.bafög.de/de/alle-antragsformulare-432.php"
RewriteRule "^16$" "https://www.studentenwerk-dresden.de/finanzierung/servicebuero.html"
RewriteRule "^17$" "https://welcome.dresden.de/de/formulare.php"
RewriteRule "^18$" "https://www.dresden.de/de/rathaus/dienstleistungen/c_336.php"
RewriteRule "^19$" "https://studentenwerk-dresden.de/wohnen/umzugsbeihilfe.html"
RewriteRule "^20$" "https://www.stura.tu-dresden.de/zweitwohnungssteuer"
RewriteRule "^21$" "http://www.dresden.de/de/rathaus/dienstleistungen/c_zweitwohnungssteuer.php"
RewriteRule "^22$" "https://lskonline.tu-dresden.de"
RewriteRule "^23$" "https://tu-dresden.de/usz"
RewriteRule "^24$" "https://tu-dresden.de/inf/pra"
RewriteRule "^25$" "https://www.ifsr.de"
RewriteRule "^26$" "https://www.slub-dresden.de/service/anmelden"
RewriteRule "^27$" "mailto:programmierung@ifsr.de"
RewriteRule "^28$" "https://tu-dresden.de/imma/rueckmeldung"
RewriteRule "^29$" "https://tu-dresden.de/zih/ese"
RewriteRule "^30$" "https://portal.slm.tu-dresden.de"
RewriteRule "^31$" "https://tu-dresden.de/zih/dienste/datennetz_dienste/e_mail"
RewriteRule "^32$" "https://tu-dresden.de/zih/dienste/arbeitsumgebung/zugang_datennetz"
RewriteRule "^33$" "https://tu-dresden.de/zih/dienste/datenmanagement/cloudstore"
RewriteRule "^34$" "https://tu-dresden.de/zih/dienste/datennetz_dienste/secure_shell/"
RewriteRule "^35$" "https://github.com/auditorium/auditorium"
RewriteRule "^36$" "http://spirex.de"
RewriteRule "^37$" "https://www.stura.tu-dresden.de"
RewriteRule "^38$" "https://tu-dresden.de/inf/sfb"
RewriteRule "^39$" "https://tu-dresden.de/inf/bfsb"
RewriteRule "^40$" "https://www.ifsr.de/service:leihen"
RewriteRule "^41$" "https://www.ifsr.de/"
RewriteRule "^42$" "http://www.dnn-online.de/dresden/web/dresden-nachrichten/detail/-/specific/Ab-Montag-sollen-rund-600-Asylsuchende-in-Dresdner-TU-Turnhallen-untergebracht-werden-571191965"
RewriteRule "^43$" "https://www.dresden.de/media/pdf/sozialamt/Zahlen-und-Prognosen-Asyl.pdf"
RewriteRule "^44$" "https://www.facebook.com/dresdenfueralle"
RewriteRule "^45$" "http://afeefa.de"
RewriteRule "^46$" "https://www.facebook.com/groups/helferfureaedd2"
RewriteRule "^47$" "http://www.ascii-dresden.de/"
RewriteRule "^48$" "http://countdown-dresden.de"
RewriteRule "^49$" "https://tu-dresden.de/imma/"
RewriteRule "^50$" "ftp://ftp.ifsr.de/klausuren"
RewriteRule "^51$" "https://www.studentenwerk-dresden.de/mensen"
RewriteRule "^52$" "http://www.stav-dresden.de"

