RewriteEngine On
RewriteBase /2019
RewriteRule "^0$" "https://html5zombo.com"
RewriteRule "^1$" "https://jexam.inf.tu-dresden.de/"
RewriteRule "^2$" "https://selma.tu-dresden.de"
RewriteRule "^3$" "https://tu-dresden.de/zih/dienste/service-katalog/arbeitsumgebung/zugang_datennetz/wlan-eduroam"
RewriteRule "^4$" "https://www.agdsn.de"
RewriteRule "^5$" "https://lists.ifsr.de/listinfo/extern"
RewriteRule "^6$" "https://www.stav-dresden.de"
RewriteRule "^7$" "https://www.stura.tu-dresden.de/semesterticket"
RewriteRule "^8$" "https://www.ifsr.de/kurse"
RewriteRule "^9$" "https://ftp.ifsr.de/klausuren"
RewriteRule "^10$" "https://www.studentenwerk-dresden.de/wohnen/wohnheimkatalog"
RewriteRule "^11$" "https://www.wg-gesucht.de/"
RewriteRule "^12$" "https://tu-dresden.de/zih/dienste/service-katalog/arbeitsumgebung/zugang_datennetz/vpn"
RewriteRule "^13$" "https://tu-dresden.de/zih/dienste/service-katalog/zusammenarbeiten-und-forschen/datenaustausch/cloudstore"
RewriteRule "^14$" "https://idm-coupon.tu-dresden.de"
RewriteRule "^15$" "https://tu-dresden.de/zih/dienste/service-katalog/arbeitsumgebung/e_mail/"
RewriteRule "^16$" "https://www.bafög.de/de/alle-antragsformulare-432.php"
RewriteRule "^17$" "https://www.studentenwerk-dresden.de/finanzierung/servicebuero.html"
RewriteRule "^18$" "https://www.dresden.de/de/rathaus/dienstleistungen/wohnsitz_meldung_d115.php"
RewriteRule "^19$" "https://www.dresden.de/de/rathaus/dienstleistungen/c_336.php"
RewriteRule "^20$" "https://www.studentenwerk-dresden.de/wohnen/umzugsbeihilfe.html"
RewriteRule "^21$" "https://www.stura.tu-dresden.de/zweitwohnungssteuer"
RewriteRule "^22$" "https://www.dresden.de/de/rathaus/dienstleistungen/zweitwohnungssteuer.php"
RewriteRule "^23$" "mailto:programmierung@ifsr.de"
RewriteRule "^24$" "https://www.ifsr.de"
RewriteRule "^25$" "https://tu-dresden.de/gsw/slk/lsk/sprachen-fuer-allestudiengaenge/einschreibung-ueber-lskonline/"
RewriteRule "^26$" "https://tu-dresden.de/usz"
RewriteRule "^27$" "https://tu-dresden.de/ing/informatik/studium/lehre"
RewriteRule "^28$" "https://tu-dresden.de/ing/informatik/studium/studienangebot"
RewriteRule "^29$" "https://www.slub-dresden.de/service/anmelden"
RewriteRule "^30$" "https://tu-dresden.de/imma/rueckmeldung"
RewriteRule "^31$" "https://ftp.ifsr.de/komplexpruef/"
RewriteRule "^32$" "https://www.ifsr.de/service:leihen"
RewriteRule "^33$" "https://www.ifsr.de/fsr:sitzung"
RewriteRule "^34$" "https://www.stura.tu-dresden.de"
RewriteRule "^35$" "https://tu-dresden.de/studium/im-studium/beratung-undservice/zentrale-studienberatung"
RewriteRule "^36$" "https://tu-dresden.de/ing/informatik/studium/beratung"
RewriteRule "^37$" "https://www.studentenwerk-dresden.de/"
RewriteRule "^38$" "https://tu-dresden.de/studium/rund-ums-studium/studieren-mitbeeintraechtigung"
RewriteRule "^39$" "https://tu-dresden.de/ing/informatik/studium/pruefungsorganisation"
RewriteRule "^40$" "https://savethetei.ch/"
RewriteRule "^41$" "https://www.ascii-dresden.de/"
RewriteRule "^42$" "https://navigator.tu-dresden.de/etplan/wil/00"
RewriteRule "^43$" "https://navigator.tu-dresden.de/etplan/tre/00"
RewriteRule "^44$" "https://slub-dresden.de"
RewriteRule "^45$" "https://tu-dresden.de/gsw/slk/lsk"
RewriteRule "^46$" "https://www.studentenwerk-dresden.de/mensen/speiseplan/"
RewriteRule "^47$" "https://www.countdown-dresden.de/"
RewriteRule "^48$" "https://www.facebook.com/iFSR.de/"
RewriteRule "^49$" "https://twitter.com/ifsr"
RewriteRule "^50$" "https://output-dd.de"
RewriteRule "^51$" "https://www.verw.tu-dresden.de/AmtBek/PDF-Dateien/2016-06/11soBA24.04.2016.pdf"
RewriteRule "^52$" "https://www.verw.tu-dresden.de/AmtBek/PDF-Dateien/2016-06/11poBA24.04.2016.pdf"
RewriteRule "^53$" "https://www.inf.tu-dresden.de/"
RewriteRule "^54$" "https://www.verw.tu-dresden.de/AmtBek/PDF-Dateien/2016-06/11soBAMI24.04.2016.pdf"
RewriteRule "^55$" "https://tu-dresden.de/die_tu_dresden/fakultaeten/fakultaet_informatik/studium/dateien/studien_und_pruefungsordnungen/dipl_inf_so_app1_de.pdf"
RewriteRule "^56$" "https://tu-dresden.de/ing/informatik/studium/news"
RewriteRule "^57$" "https://tu-dresden.de/ing/informatik/studium/pruefungsorganisation/pruefungen/abmelden-ruecktrittkrankheit"
RewriteRule "^58$" "https://sprachausbildung.tu-dresden.de"
RewriteRule "^59$" "https://tu-dresden.de/lsk/lskonline"
RewriteRule "^60$" "https://www.tudias.de/"
RewriteRule "^61$" "https://www.facebook.com/SchreibzentrumTUD"
RewriteRule "^62$" "mailto:Schreibzentrum@mailbox.tu-dresden.de"
RewriteRule "^63$" "https://tu-dresden.de/deutschlandstipendium"
RewriteRule "^64$" "https://www.stipendienlotse.de"
RewriteRule "^65$" "https://www.stura.tu-dresden.de/hochschulgruppen"
RewriteRule "^66$" "https://tu-dresden.de/studium/im-studium/beratung-undservice/akademisches-auslandsamt"
RewriteRule "^67$" "https://tu-dresden.de/ing/informatik/studium/internationales/outgoing"
RewriteRule "^68$" "https://tu-dresden.de/imma/"
RewriteRule "^69$" "https://tu-dresden.de/studium/im-studium/studienorganisation/beurlaubung"
