RewriteEngine On
RewriteBase /2016
RewriteRule "^0$" "https://ese.ifsr.de/"
RewriteRule "^1$" "https://html5zombo.com"
RewriteRule "^2$" "ftp://ftp.ifsr.de/klausuren"
RewriteRule "^3$" "https://www.ifsr.de/service:leihen"
RewriteRule "^4$" "https://www.ifsr.de"
RewriteRule "^5$" "https://auditorium.inf.tu-dresden.de/"
RewriteRule "^6$" "https://github.com/auditorium/auditorium"
RewriteRule "^7$" "http://spirex.de"
RewriteRule "^8$" "https://www.stura.tu-dresden.de"
RewriteRule "^9$" "http://tu-dresden.de/studium/beratung/zentrale_studienberatung"
RewriteRule "^10$" "https://tu-dresden.de/inf/sfb"
RewriteRule "^11$" "https://www.studentenwerk-dresden.de/"
RewriteRule "^12$" "https://tu-dresden.de/inf/bfsb"
RewriteRule "^13$" "https://www.studentenwerk-dresden.de/wohnen/wohnheimkatalog"
RewriteRule "^14$" "https://www.wg-gesucht.de/"
RewriteRule "^15$" "https://idm-coupon.tu-dresden.de"
RewriteRule "^16$" "https://tu-dresden.de/zih/dienste/datennetz_dienste/e_mail"
RewriteRule "^17$" "https://www.bafög.de/de/alle-antragsformulare-432.php"
RewriteRule "^18$" "https://www.studentenwerk-dresden.de/finanzierung/servicebuero.html"
RewriteRule "^19$" "https://www.dresden.de/de/rathaus/dienstleistungen/wohnsitz_meldung_d115.php"
RewriteRule "^20$" "https://www.dresden.de/de/rathaus/dienstleistungen/c_336.php"
RewriteRule "^21$" "https://www.studentenwerk-dresden.de/wohnen/umzugsbeihilfe.html"
RewriteRule "^22$" "https://www.stura.tu-dresden.de/zweitwohnungssteuer"
RewriteRule "^23$" "https://www.dresden.de/de/rathaus/dienstleistungen/c_zweitwohnungssteuer.php"
RewriteRule "^24$" "https://tu-dresden.de/zih/dienste/arbeitsumgebung/zugang_datennetz"
RewriteRule "^25$" "mailto:programmierung@ifsr.de"
RewriteRule "^26$" "https://tu-dresden.de/lsk/lskonline"
RewriteRule "^27$" "https://tu-dresden.de/usz"
RewriteRule "^28$" "https://tu-dresden.de/ing/informatik/studium/lehre"
RewriteRule "^29$" "https://tu-dresden.de/ing/informatik/studium/studienangebot"
RewriteRule "^30$" "https://www.slub-dresden.de/service/anmelden"
RewriteRule "^31$" "https://tu-dresden.de/imma/rueckmeldung"
RewriteRule "^32$" "http://www.ascii-dresden.de/"
RewriteRule "^33$" "http://countdown-dresden.de"
RewriteRule "^34$" "https://www.inf.tu-dresden.de/"
RewriteRule "^35$" "https://jexam.inf.tu-dresden.de/"
RewriteRule "^36$" "https://ese.ifsr.de/2016/infos.html"
RewriteRule "^37$" "https://www.verw.tu-dresden.de/AmtBek/PDF-Dateien/2016-06/11soBA24.04.2016.pdf"
RewriteRule "^38$" "https://www.verw.tu-dresden.de/AmtBek/PDF-Dateien/2016-06/11soBAMI24.04.2016.pdf"
RewriteRule "^39$" "https://tu-dresden.de/die_tu_dresden/fakultaeten/fakultaet_informatik/studium/dateien/studien_und_pruefungsordnungen/dipl_inf_so_app1_de.pdf"
RewriteRule "^40$" "https://tu-dresden.de/ing/informatik/studium/news"
RewriteRule "^41$" "https://tu-dresden.de/ing/informatik/studium/pruefungsorganisation"
RewriteRule "^42$" "https://tu-dresden.de/ing/informatik/studium/pruefungsorganisation/pruefungen/abmelden-ruecktritt-krankheit"
RewriteRule "^43$" "http://sprachausbildung.tu-dresden.de"
RewriteRule "^44$" "http://www.tudias.de/de/Sprachschule.html"
RewriteRule "^45$" "https://www.agdsn.de/"
RewriteRule "^46$" "https://tu-dresden.de/ing/informatik/studium/internationales/outgoing"
RewriteRule "^47$" "https://slub-dresden.de/"
RewriteRule "^48$" "https://blog.ad-rem.de/"
RewriteRule "^49$" "http://www.caz-lesen.de/"
RewriteRule "^50$" "https://tu-dresden.de/zih/dienste/datenmanagement/cloudstore"
RewriteRule "^51$" "https://tu-dresden.de/studium/rund-ums-studium/dies-academicus"
RewriteRule "^52$" "https://tu-dresden.de/imma/"
RewriteRule "^53$" "https://tu-dresden.de/studium/im-studium/studienorganisation/lehrangebot/studium-generale"
RewriteRule "^54$" "https://www.kino-im-kasten.de/"
RewriteRule "^55$" "http://www.kif-dresden.de/"
RewriteRule "^56$" "http://www.thalia-dresden.de/"
RewriteRule "^57$" "https://www.studentenwerk-dresden.de/mensen"
RewriteRule "^58$" "https://www.stura.tu-dresden.de/beratung\#Rechtsberatung"
RewriteRule "^59$" "https://selma.tu-dresden.de/"
RewriteRule "^60$" "https://tu-dresden.de/zih/dienste/datennetz_dienste/secure_shell/"
RewriteRule "^61$" "https://www.stav-dresden.de"
RewriteRule "^62$" "https://xkcd.com"
