<div class="countdown">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="cell large-8">

                <div id="countdown">
                    <div id="days">00</div>
                    <div id="hours">00</div>
                    <div id="minutes">00</div>
                    <div id="seconds">00</div>

                    {% if langmodifier[1] == "en" %}
                    <p>up to ESE 2020</p>
                    {% else %}
                    <p>bis zur ESE 2020</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>