<div id="developer-preview-message" class="alert-box alert full reveal" data-reveal="" aria-labelledby="developer-preview-message-title" role="dialog">
	<h2 id="developer-preview-message-title">This is a developer preview site.</h2>
	<p class="lead">This site is only for developers. - Continue without warranty!</p>
	<p>Please refrain from looking at this site if you are not a developer in charge. We cannot be held responsible if anything bad happens to you. This site will possibly burn your house, kill your pets and humilate your family. By closing this box you state that you acknowledge our warnings.</p>
	<p>Later the much more harmless site can be found here: <a href="https://ese.ifsr.de" target="_blank">ESE IFSR</a></p>
	<a href="#" id="developer-preview-message-close" class="small success button" aria-label="Close">I understand! Please let me in.</a>
</div>