{% for day in site.data.events.days %}
<td class="date">
    <div>
        <h4 class="hide-for-medium-only">{% if include.lang == "en" %}{{ day.name-en }}{% else %}{{ day.name }}{% endif %}</h4>
        {% for event in day.events %}
        <p id="{{ day.name }}-{{ forloop.index }}" class="event">
            <strong>{% if include.lang == "en" %}{{ event.title-en }}{% else %}{{ event.title }}{% endif %}</strong>
            <!-- time -->
            <span class="secondary round 20px label">{% image icons/clock alt:'' %} {{ event.begin }} Uhr</span>
            <!-- location -->
            {% if event.location %}
            <span class="secondary round 20px label">
                {% if site.data.locations.[event.location] %}
                    <a href="{{ site.data.locations.[event.location].url }}">
                        {% image icons/map-marker alt:'' %}
                        {% if include.lang == "en" and site.data.locations.[event.location].name-en %}
                            {{ site.data.locations.[event.location].name-en }}
                        {% else %}
                            {{ site.data.locations.[event.location].name }}
                        {% endif %}
                    </a>
                {% else %}
                    {% if include.lang == "en" and event.location-en %}
                        {{ event.location-en }}
                    {% else %}
                        {{ event.location }}
                    {% endif %}
                {% endif %}
            </span>
            {% endif %}
            <br/>
            {% if include.lang == "en" %}
                {{ event.description-en }}
            {% else %}
                {{ event.description }}
            {% endif %}
        </p>
        {% endfor %}
    </div>
</td>
{% endfor %}