{% if include.pages %}
    {% assign pages = include.pages %}
{% else %}
    {% assign pages = site.pages %}
{% endif %}

    {% assign langmodifier = page.url | split: "/" %}
    {% case langmodifier[1] %}
    {% when "en" %}
      {% assign de-url = page.url | remove_first: '/en' | prepend: site.baseurl %}
      {% assign en-url = page.url %}
      {% assign context = "/en/" %}
    {% else %}
      {% assign de-url = page.url %}
      {% assign en-url = page.url | prepend: '/en' | prepend: site.baseurl %}
      {% assign context = "/" %}
    {% endcase %}

<header id="page-header">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-4">
                <div id="page-logo">
                    <a href="{{ site.baseurl }}/" class="page-logo-link">{% image ese-logo-2019.svg alt:'ESE 2019' %}</a>
                </div>
            </div>

            <div class="cell medium-8">
                {% include translate-switch.html %}

                <div id="page-navigation">
                    {% include navigation.html context=context pages=pages %}
                </div>
            </div>
        </div>
    </div>
</header>


<div class="notification">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell">
                {% if langmodifier[1] == "en" %}
                <p><i class="icon-exclamation"></i> You can find all important announcements and changes to the ESE on <span class="icon icon-social-twitter">Twitter</span> <a href="https://twitter.com/ifsr" target="_blank">@ifsr</a> // Pssst, <a href="/{{site.year}}/en/pwa/manual">here's</a> a #FroshTip for you.</p>
                {% else %}
                <p><i class="icon-exclamation"></i> Alle wichtigen Ankündigungen und Änderungen zur ESE findest du bei uns auf <span class="icon icon-social-twitter">Twitter</span> <a href="https://twitter.com/ifsr" target="_blank">@ifsr</a> // Pssst, <a href="/{{site.year}}/pwa/manual">hier</a> ein #Erstipp für dich.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
