{% if include.pages %}
    {% assign pages = include.pages %}
{% else %}
    {% assign pages = site.pages %}
{% endif %}

    {% assign langmodifier = page.url | split: "/" %}
    {% case langmodifier[1] %}
    {% when "en" %}
      {% assign de-url = page.url | remove_first: '/en' | prepend: site.baseurl %}
      {% assign en-url = page.url %}
      {% assign context = "/en/" %}
    {% else %}
      {% assign de-url = page.url %}
      {% assign en-url = page.url | prepend: '/en' | prepend: site.baseurl %}
      {% assign context = "/" %}
    {% endcase %}

<header id="page-header">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-4">
                <div id="page-logo">
                    <a href="{{ site.baseurl }}/" class="page-logo-link">{% image ese-logo-2020.svg alt:'ESE 2020' %}</a>
                </div>
            </div>

            <div class="cell medium-8">
                {% include translate-switch.html %}

                <div id="page-navigation">
                    {% include navigation.html context=context pages=pages %}
                </div>
            </div>
        </div>
    </div>
</header>


<div class="notification">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell">
                {% if langmodifier[1] == "en" %}
                <p><i class="icon-exclamation"></i> We are busy planning the ESE 2020 for you. Soon you will find all important information here!</p>
                {% else %}
                <p><i class="icon-exclamation"></i> Wir planen für dich fleißig die ESE 2020. Hier findest du bald alle wichtigen Informationen!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
