{% if include.items %}
    {% assign items = include.items %}
{% else %}
    {% assign items = site.de-sidebar %}
{% endif %}

{% if include.pages %}
    {% assign pages = include.pages %}
{% else %}
    {% assign pages = site.pages %}
{% endif %}

    {% assign langmodifier = page.url | split: "/" %}
    {% case langmodifier[1] %}
    {% when "en" %}
      {% assign de-url = page.url | remove_first: '/en' | prepend: site.baseurl %}
      {% assign en-url = page.url %}
      {% assign context = "/en/" %}
    {% else %}
      {% assign de-url = page.url %}
      {% assign en-url = page.url | prepend: '/en' | prepend: site.baseurl %}
      {% assign context = "/" %}
    {% endcase %}

<div class="sidebar">
  
  <a class="banner hide-for-small-only" href="{{ site.baseurl }}{{ context }}">
      <div class="banner">
          <div class="logo">
              {% image karlchen_thick.svg alt:'ESE Logo - Das ESE-Maskottchen namens Karlchen' %}
          </div>
          <div class="name">
              <span>
      ESE<br/> {{ site.year }}
    </span>
          </div>
          <div class="clear"></div>
      </div>
  </a>
  
  <hr>

  <nav class="nav">
      {% include navigation.html context=context pages=pages %}
  </nav>
  
  <hr>

  <section class="additionals">
      {% assign items = items | sort: 'index' %}
    {% for item in items %}
      <div>
        {% if item.title != "false" and item.title %}
          <h4>{{ item.title }}</h4>
        {% endif %}
        <div class="item-content">
          {{ item.content }}
        </div>
      </div>

    {% endfor %}
  </section>

  <div class="description">
      <p>This ESE is sooooo huge! So fantastic. We are going to make ESE {{ site.year }} great again. Greater than ever before... covfefe!</p>
  </div>

</div>