{% assign schedule-length = site.data.events.schedule-length | split: ':' %}
{% assign schedule-length = schedule-length[1] | divided_by: 60.0 | plus: schedule-length[0] %}
{% assign schedule-begin = site.data.events.schedule-begin %}
{% for day in site.data.events.days %}
<h4>
	{% if include.lang == "en" and day.name-en %}{{ day.name-en }}{% else %}{{ day.name }}{% endif %} {{ day.date | date: "%-d.%m.%Y" }}
</h4>
<ul>
	{% for event in day.events %}
	<li{% if include.lang == "en" and event.english == true %} class="en"{% endif %}>
		{{ event.begin }} <strong>{% if include.lang == "en" and event.title-en %}{{ event.title-en }}{% else %}{{ event.title }}{% endif %}</strong> <small>{% if include.lang == "en" and event.location-en %}{{ event.location-en }}{% else %}{{ event.location }}{% endif %}</small>
	</li>
	{% endfor %}
</ul>
{% endfor %}