
    {% assign langmodifier = page.url | split: "/" %}
    {% case langmodifier[1] %}
    {% when "en" %}
      {% assign de-url = page.url | remove_first: '/en' | prepend: site.baseurl %}
      {% assign en-url = page.url %}
    {% else %}
      {% assign de-url = page.url %}
      {% assign en-url = page.url | prepend: '/en' | prepend: site.baseurl %}
    {% endcase %}
    

		<li class="language-switch i18n de {% if langmodifier[1] != "en" %} hidden {% endif %}">
			<a class="language-link" href="{{ de-url }}" hreflang="de">
				<img class="language-icon" width="20" height="12" src="{% asset_path flags/de.png %}" alt="Flagge" /> Deutsch
			</a>
		</li>

		<li class="language-switch i18n en {% if langmodifier[1] == "en" %} hidden {% endif %}">
			<a class="language-link" href="{{ en-url }}" hreflang="en">
				<img class="language-icon" width="20" height="12" src="{% asset_path flags/en.png %}" alt="Flag" /> English
			</a>
		</li>