
    {% assign langmodifier = page.url | split: "/" %}
    {% case langmodifier[1] %}
    {% when "en" %}
      {% assign de-url = page.url | remove_first: '/en' | prepend: site.baseurl %}
      {% assign en-url = page.url %}
    {% else %}
      {% assign de-url = page.url %}
      {% assign en-url = page.url | prepend: '/en' | prepend: site.baseurl %}
    {% endcase %}
    

    <ul id="nav-language">
		<li class="language-switch i18n de {% if langmodifier[1] != "en" %} hide {% endif %}">
			<a class="language-link" href="{{ de-url }}" hreflang="de">DE</a>
		</li>

		<li class="language-switch i18n en {% if langmodifier[1] == "en" %} hide {% endif %}">
			<a class="language-link" href="{{ en-url }}" hreflang="en">EN</a>
		</li>
    </ul>