<!DOCTYPE html>
<html>
	{% if include.sidebar-items %}{% assign items = include.sidebar-items %}{% else %}{% assign items = site.sidebar %}{% endif %}
	{% if include.pages %}{% assign pages = include.pages %}{% else %}{% assign pages = site.pages %}{% endif %}
  {% include head.html lang=include.lang %}


  <body>
  	<div id="skip-link">
  		<a class="element-invisible element-focusable" href="#content">Skip to Content</a>
  	</div>
  	<div role="document">
	    <header>
				<div class="row" data-equalizer="">
					<div class="column small-12 medium-9" data-equalizer-watch>
	        	{% include header.html pages=pages %}
	        </div>
					<div class="columns small-12 medium-3 sidebar" data-equalizer-watch>
		        <div class="ese-logo hide-for-small-only">
		        	{% include logo.html %}
		        </div>
				    <div class="column small-12 sidebar-item">
				      {% include translate-switch.html inline=true %}
				    </div>
				  </div>
			  </div>
      </header>
      <main>
      	<div class="row">
		      <article id="content" class="column small-12 medium-9">
		        {{ content }}
		      </article>
			    <aside class="column small-12 medium-3 text-right small-only-text-left">
			      {% include sidebar.html items=items %}
			    </aside>
			  </div>      	
      </main>
	    <footer>
	  		{% include footer.html %}
	    </footer>
	  </div>
  {% include lateload-scripts.html %}
  </body>

</html>
