<!DOCTYPE html>
<html>
	{% if include.sidebar-items %}{% assign items = include.sidebar-items %}{% else %}{% assign items = site.sidebar %}{% endif %}
	{% if include.pages %}{% assign pages = include.pages %}{% else %}{% assign pages = site.pages %}{% endif %}
  {% include head.html %}

  <body>
  	<div id="skip-link">
  		<a class="element-invisible element-focusable" href="#content">Skip to Content</a>
  	</div>
  	<div class="row body-wrapper wrapper">
	    <div class="column small-12 medium-9">

	        {% include header.html pages=pages %}

	      <div id="content" class="column small-12">
	        {{ content }}
	      </div>
	    </div>
	    <div class="column small-12 medium-3 small-only-text-left text-right">
        <div class="ese-logo hide-for-small-only">
        	<img src="{{ site.baseurl }}/img/ese-logo.png" />
        </div>
	      {% include sidebar.html items=items %}
	    </div>
	    <div class="column small-12">
	  		{% include footer.html %}
	    </div>
	  </div>
	{% include overlay-messages.html %}
  {% include lateload-scripts.html %}
  </body>

</html>
