{% if include.sidebar-items %}{% assign items = include.sidebar-items %}{% else %}{% assign items = site.sidebar %}{% endif %}
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="row">
    <div class="column small-12 medium-9">

      {% include header.html %}

      <div class="column small-12">
        {{ content }}
      </div>
    </div>

    <div class="column small-12 medium-3">
      <!-- <div> -->
      <div class="hide-for-small-only">
        <div class="ese-logo small-12 column">
        	<img src="/img/ese-logo.png" />
        </div>
      </div>
      <div class="hide-for-small-only">
        <div class="column sidebar-header small-12">&nbsp;</div>
      </div>
      <!-- </div> -->
      {% include sidebar.html items=items %}
    </div>
    <div class="column small-12">
  		{% include footer.html %}
    </div>

  {% include lateload-scripts.html %}
  </body>

</html>
