<div class="no-js-message row round alert-box alert">
	<div class="columns small-8 small-centered">
		<h2>ESE 2015 - ATTENTION</h2>
	</div>
	<div class="columns small-8 small-centered">
		<p>Please enable JavaScript to state that you are not a search engine crawler.</p>
		<p>Otherwise please go crawl this site: <a href="https://ese.ifsr.de">ESE 2015 | iFSR</a></p>
	</div>
</div>

<div id="crawler-message" class="alert-box warning full reveal-modal" data-reaveal="" aria-labelledby="crawler-message-title" aria-hidden="true" role="dialog">
	<h2 id="crawler-message-title">ESE 2015 - ATTENTION</h2>
	<p class="lead">
		This is just a preview!
	</p>
	<p>Please go to the official site <a href="https://ese.ifsr.de">here</a>.</p>
</div>

<div id="developer-preview-message" class="alert-box alert full reveal-modal" data-reveal="" aria-labelledby="developer-preview-message-title" aria-hidden="true" role="dialog">
	<h2 id="developer-preview-message-title">This is a developer preview site.</h2>
	<p class="lead">This site is only for developers. - Continue without warranty!</p>
	<p>Please refrain from looking at this site if you are not a developer in charge. We cannot be held responsible if anything bad happens to you. This site will possibly burn your house, kill your pets and humilate your family. By closing this box you state that you acknowledge our warnings.</p>
	<p>Later the much more harmless site can be found here: <a href="https://ese.ifsr.de" target="_blank">ESE IFSR</a></p>
	<a href="#" id="developer-preview-message-close" class="small success button" aria-label="Close">I understand! Please let me in.</a>
</div>

<div class="blackout-box">&nbsp;</div>