{% assign days = include.days %}
{% assign timeslots = include.timeslots %}
{% assign shared = include.shared %}
{% assign values = include.values %}
<hr />
<h2 style="margin: .5em auto; page-break-before: always;">{{ values.name }}</h2>
<table style="margin: .5em auto;">
  <thead>
    <tr>
      <th>Zeit</th>
      {% for day in days %}
      	<th>{{ day }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for slot in (1..6) %}
        <tr>
          <td class="time">
            <div><b>{{ slot }}.</b><br /><small>{{ timeslots[slot] }}</small></div>
          </td>
        {% for day in days %}
          {% capture filler %}<td class="empty"><div class="table-spacer">&nbsp;</div></td>{% endcapture %}
          {% for course in shared[day] %}
            {% assign plannameparts = values.name | split: '/' %}
            {% if course.slot == slot and (course.planfilter == nil or course.planfilter == plannameparts[0]) %}
              {% capture filler %}
              <td class="data">
                <div class="data">
                  {{ course.type }}: <b>{{ course.title }}</b><br />
                  <small>{{ course.location }}</small>
                </div>
              </td>
              {% endcapture %}
            {% endif %}

          {% endfor %}
          {% for course in values[day] %}
            {% if course.slot == slot %}
              {% capture filler %}
              <td class="data">
                <div class="data">
                  {{ course.type }}: <b>{{ course.title }}</b><br />
                  <small>{{ course.location }}</small>
                </div>
              </td>
              {% endcapture %}
            {% endif %}

          {% endfor %}

          {{ filler }}

        {% endfor %}

      </tr>
    {% endfor %}
  </tbody>
</table>
