.show-more {
  @extend .small;
}

.sidebar-item {
  color: white;
  background-color: $purple;
  margin-top: 12px;
  padding-top: 7px;
}

.sidebar-header {
   height:55px;
   margin:0;
   padding:0;
}

.sidebar {
  color: white;
  h1, h2, h3, h4, h5 {
    color: white;
  }
  .sidebar-item {
    font-size: small;
  }

  a {
    color: lighten($grey-color, 20%);
    text-decoration: underline;
  }
}

.ese-logo {
  background: url($baseurl + "/img/ese-logo.png") no-repeat;
  min-height: 210px;
  margin-top: 40px;
}

.sidebar-header {
  min-height: 20px;
  @extend .sidebar-item;
}

table.event {
   width:600px;
   font-size:1.0em;
   border-collapse:collapse;
   margin:50px 0 0 -20px;

  thead {
     border:none;

     th {
        border:none;

        &:first-child {
          border-right:1px solid #424242;
        }
     }

     tr{
        font-weight:bold;
     }
  }

  tbody {
     tr {
       font-size:0.9em;
     }
     td {
       border:none;
       margin:0;
       padding:0;
       vertical-align:top;

       &:first-child {
         border-right:1px solid #424242;
       }
     }
   }

   div.event {
     padding:5px 4px;
     width:91px;
     height:50px;
     border:1px solid #000;
     background:#EDEDED;
     margin:5px 3px 0 3px;
     display:block;
     overflow:hidden;

     &:hover{
        background:#D8D8D8;
     }
   }

  .event {
    &.need {
      background:#74E3E3;
    }

    &.lunch {
      background:#FFF3D5;
    }

    &.m30  { height: 30px; }
    &.m45  { height: 53px; }
    &.m60  { height: 77px; }
    &.m90  { height:124px; }
    &.m120 { height:171px; }
    &.m150 { height:218px; }
    &.m180 { height:265px; }
    &.m210 { height:312px; }
    &.m240 { height:359px; }
    &.m270 { height:406px; }
    &.m300 { height:453px; }
    &.m360 { height:547px; }
    &.m480 { height:735px; }
    &.open { height:100px; }

    &.empty {
       background:none;
       border:1px solid #F5F5F5;

       &:hover {
         background:none;
       }
     }

     a {
       color:#000 !important;

       &:hover {
         color:#000;
       }
     }


     &.duration {
       background:none;
       border:none;
       border-top:1px solid #333;
       border-bottom:1px solid #F5F5F5;
       text-align:right;
       width:40px;
       font-size:0.9em;
    }
  }

  div.time {
     font-weight:bold;
     font-size:1.0em;
  }

  div.description {
     font-size:1.0em;
  }

  .fh {
     font-weight:bold;
  }
}

.ort {
   font-style: italic;
   font-size: 7pt;
}
