/**
 * I don't think this is a good idea.
 * We should stick as close as possible to very basic styles
 */
/*@media only screen {
  .main-column {
    padding-left: 5px;
    padding-right: 5px;
  }
}*/

body {
  /*margin-top: 10px;*/
}

.show-more {
  @extend .small;

}

a {
  outline: 0;

  &:hover,
  &:active,
  &:focus {
    outline: 0;

  }
}

.no-js {

  .body-wrapper {
    display: none;

  }
  .blackout-box {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 42;

  }
}

.no-js {

  .no-js-message {
    display: block;
    position: relative;
    z-index: 1337;

  }
}

.no-js-message, {
  display: none;

}

.js-only {
  display: none;

}

html.js .js-only {
  display: block;

  &.inline {
    display: inline;

  }
  &.inline-block {
    display: inline-block;

  }
}

/**
 * Sidebar Styles
 */

.ese-logo {
  height: 197px;
  margin: 15px;
}

.sidebar-item {
  color: white;
  background-color: $purple;
  margin-bottom: 5px;
  padding-top: 7px;

}

.sidebar-header {
  height:55px;
  margin:0;
  padding:0;

}

.sidebar {
  color: white;

  h1, h2, h3, h4, h5 {
    color: white;
    text-align: left;

  }
  .sidebar-item p {
    font-size: small;

  }
  a {
    color: white;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      color: #DDDDDD;

    }
  }
}

.sidebar-header {
  min-height: 20px;
  @extend .sidebar-item;

}

.sidebar-language {
  height: 2.8125rem;
}

.language-list li {
  display: inline-block;
  margin: 2px 0 0 5px;
}

.language-list img {
  margin-top: -3px;
}

/**
 * Timetable
 */
table {

  background-color: #F5F5F5;

  th {
    padding: 0.5rem !important; /*sorry, found no other way.. */
  }

  tr {

    td {
      vertical-align: top;
      padding: 0;
      background-color: #EFEFEF;

      &.date {
        padding: 9px 10px;
        background-color: #F5F5F5; 

        & > div {
          font-weight: bold;

        }
      }
      &.data {
        border: 1px solid black;

        &:hover {
          background-color: #D8D8D8;
        }
      }

      div.table-spacer {
        height: 1.4em;
        background-color: #F5F5F5;

      }
      .data {
        padding: 4px 6px;
        height: 2em;
        overflow: visible;

      }
      &.time > div {
        padding: 1px 3px;

      }
    }
    &.even, &.alt, &:nth-of-type(2n) {
      background: #F5F5F5;

    }
  }
}

ul.accordion {
  margin-left: 0;

  .accordion-navigation > #timetable.content {
    padding: 0;

  }
}

.accordion .accordion-navigation>.content.active, .accordion dd>.content.active {
    background: #f5f5f5;
}

/**
 *   Styles for the Skip link
 */
.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;

  &.element-focusable:active,
  &.element-focusable:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static !important;

  }
}

/**
 *   Language switcher
 */
.language-switcher {

  .language-list {
    list-style: none;
    margin-left: 0;
  }

  img.language-icon {
    filter: url("/2015/css/img/desaturate.svg#greyscale");

  }

  .language-link {
    text-decoration: none;

    &.active {
      cursor: default;
      pointer-events: none;

    }
    &.active,
    &:hover,
    &:focus {

      img.language-icon {
        filter: none;

      }
    }
  }
}
