<<<<<<< HEAD
.show-more {
  @extend .small;
}

.no-js {
  .body-wrapper {
    display: none;
  }
  .blackout-box {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 42;
  }
}

.no-js {
  .no-js-message {
    display: block;
    position: relative;
    z-index: 1337;
  }
}

.no-js-message, {
  display: none;
}


.js-only {
  display: none;
}


html.js .js-only {
  display: block;
  &.inline {
    display: inline;
  }
  &.inline-block {
    display: inline-block;
  }

}

.sidebar-item {
  color: white;
  background-color: $purple;
  margin-top: 12px;
  padding-top: 7px;
}

.sidebar-header {
   height:55px;
   margin:0;
   padding:0;
}

.sidebar {
  color: white;
  h1, h2, h3, h4, h5 {
    color: white;
  }
  .sidebar-item {
    font-size: small;
  }

  a {
    color: lighten($grey-color, 20%);
    text-decoration: underline;
  }
}

.sidebar-header {
  min-height: 20px;
  @extend .sidebar-item;
}

table {
  tr {
    td {
      vertical-align: top;
      padding: 0;

      &.date {
        padding: 9px 10px;

        & > div {
          font-weight: bold;
        }
      }

      &.data {
        border: 1px solid black;
      }

      div.table-spacer {
        height: 1.4em;
      }

      .data {
        padding: 9px 10px;
        height: 2em;
        overflow: visible;
      }

      &.time > div {
        padding: 1px 3px;
      }
    }
    &.even, &.alt, &:nth-of-type(2n) {
      background: white;
    }
  }
}

/**
 *   Styles for the Skip link
 */
.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
 
  &.element-focusable:active,
  &.element-focusable:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static !important;
  
  }
}