.centered {
  margin-left: auto;
  margin-right: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.small {
  font-size: small;
}
