$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   100%;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #f5f5f5  ;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);



$purple: #573b75;


$color-primary: $purple;
$color-primary-light: lighten($color-primary, 30%);
$color-primary-dark: darken($color-primary, 30%);


$nav-color: rgba(255, 255, 255, 0.82);


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$sidebar-width: 200px;

$page-width: $content-width + $sidebar-width;

$topbar-breakpoint: 725px; // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})" !default;

$topbar-bg-color: $purple;

$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(32);
$h3-font-size: rem-calc(22);
$h4-font-size: rem-calc(20);
$h5-font-size: rem-calc(16);

$row-width: rem-calc(1151);
