$base-font-size: 100%;
$base-line-height: 150%;

$small-font-size:  $base-font-size * 0.875;
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

// We use these to define default font weights
$font-weight-normal: normal;
$font-weight-bold: bold;
$body-bg: #F5F5F5;
$body-font-color: #111111;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

$spacing-unit:     30px;

$brand-color:	#2A7AE2;

$grey-color:				#828282;
$grey-color-light:	lighten($grey-color, 40%);
$grey-color-dark:		darken($grey-color, 25%);

$purple: #573b75;

$primary-color: $purple;

$color-primary : $purple;
$color-primary-light: lighten($color-primary, 30%);
$color-primary-dark: darken($color-primary, 30%);


$nav-color: rgba(255, 255, 255, 0.82);


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$sidebar-width: 200px;

$page-width: $content-width + $sidebar-width;

$topbar-bg-color: $purple;
$topbar-bg: $topbar-bg-color;

$topbar-link-bg: $purple;
$topbar-link-bg-hover: scale-color($primary-color, $lightness: -14%);
$topbar-link-bg-active: $primary-color;
$topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);

$topbar-dropdown-bg: $purple;

$topbar-breakpoint: 725px; // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})" !default;

$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(32);
$h3-font-size: rem-calc(22);
$h4-font-size: rem-calc(20);
$h5-font-size: rem-calc(16);

$row-width: rem-calc(1151);


$en-highlight-color: rgb(34, 205, 72);
