/*
 * Pace
 */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
}

.pace .pace-progress {
  background: darken($primary-color, 5%);
  position: fixed;
  z-index: 20000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

/*
 * Header and nav
 */

header {
  position: fixed;
  width: 100%;
  z-index: 222;
  background-color: $primary-color;
  box-shadow: 0 1.5px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .05);
}

header a:hover{
  text-decoration: none;

}

/* Topbar settings
* overriding foundation
$topbar-height: 5rem;
.top-bar .menu a { 
    height: $topbar-height;
    line-height: $topbar-height;
}
.top-bar .menu > li:not(.menu-text) > a {
    padding: 0 1rem;
}
 
.top-bar-section ul li>a {
font-size: 1rem !important;
}
*/


/*
 * News
 */

.news {
  padding: 0rem 3rem 1rem 3rem !important;
  margin: 0rem -3rem 0rem;
}
.news .panel {
  padding: 1.5rem 3rem 0.5rem 3rem;
  border: 0;
}

/*
 * Content
 */

#content{
    background: #fff;
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .05);
    padding: 0;
    padding-top: 3.75em;
}
#content > section, #content > article{
  padding: 0em 3em 3em;
}

#content > section:first-of-type, #content > article:first-of-type{
  padding: 1em 3em 3em;
}


.show-more {
  @extend .small;

}

.hidden {
  display: none;
}

a {
  outline: 0;

  &:hover,
  &:active,
  &:focus {
    outline: 0;

  }
  &:hover {
    text-decoration: underline;

  }
  &:visited {
    color: darken($primary-color, 15%);

  }
}

/**
 * JS and non-JS Styles
 */
.js-only {
  display: none;

}

html.js .js-only {
  display: block;

  &.inline {
    display: inline;

  }
  &.inline-block {
    display: inline-block;

  }
}

 /*
  * Sidebar Styles
  * override right padding for column to match with title bar
  */

.sidebar-column {
  padding-right:0rem !important;
}
.sidebar{
  padding-top:4.25rem;

}

.ese-logo {
  margin-bottom: 0.4rem;

}

.sidebar-item {
  color: $white;
  background-color: $primary-color;
  margin-bottom: 0.35rem;
  padding-top: 0.475rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
    text-align: left;

  }
  p {
    font-size: small;

  }
  a {
    color: $white;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      color: darken($white, 20%);

    }
  }
}

/**
 * Slick Slider
 */
.slider.slick-slider {
  margin-bottom: 0;

}

/**
 * Timetable
 */
table {
  background-color: $white-smoke;

  thead {
    th {
      background: $gainsboro;
    }
  }
  tbody {

    tr {

      &.full-hour {

        .time {
          padding: 0.4rem;

        }
      }
      td {
        vertical-align: top;
        background: transparent;
        padding: 0;

        &.date {
          font-weight: bold;
          padding: 0.4rem;

        }
        &.data {
          border: 1px solid black;
          padding: 0.4rem;

          &:hover {
            background-color: $gainsboro;

          }
          &.en {
            box-shadow: inset 0 0 10px $success-color;

          }
        }

        div.table-spacer {
          height: 1.4rem;

        }
        .data {
          height: 2em;
          overflow: visible;
          background: transparent;

        }
      }

      &:nth-of-type(odd) {
          background: $white-smoke;
      }
      &:nth-of-type(even) {
          background: $silver;
      }
    }
  }
}

ul.accordion {
  margin-left: 0;

  .accordion-navigation > #timetable.content {
    padding: 0;

  }
}

#barrierfree,
#eventlist {

  .en {
    color: $success-color;

  }
}

/**
 *   Styles for the Skip link
 */
.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;

  &.element-focusable:active,
  &.element-focusable:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static !important;

  }
}

/**
 *   Language switcher
 */
.language-switcher {

  .language-list {
    list-style: none;
    margin-left: 0;

    li {
      margin-left: 1.375rem;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
  img.language-icon {
    filter: url(asset_path('desaturate.svg'));
    margin-top: -0.2rem;

  }
  .language-link {
    text-decoration: none;

    &.active {
      cursor: default;
      pointer-events: none;

    }
    &.active,
    &:hover,
    &:focus {

      img.language-icon {
        filter: none;

      }
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 42.6875em) {
  
  .language-switcher {
    
    .language-list {
      
      li {
        margin-left: 0;
        float: none;
      
      }
    }
  }
}

/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;

    path {
      fill: $jumbo;

    }
  }
}

/**
 * Schedules
 */
.schedulehead {
  margin: .5em auto;
  page-break-before: always;
}

table.schedule {
  margin: .5em auto;
  border: 2px solid white;
  outline: 2px solid #eee;

  td, th {
    outline: 1px solid white;
    border: none;
    padding: .5em;
  }
}

@media print {
  .schedulehead {
    font-size: 40pt;
    display: block;
    padding-top: 20pt;
  }

  table.schedule {
    border: 0;
    td, th {
      font-size: 23pt;
      height: 50pt;
      line-height: 25pt;
    }
    td.data, td.empty {
      outline: 1px solid black;
    }
  }
  
  hr {
    display: none;
  }
}

