/*
 * Font settings
 * TODO: get rid of all those !important statements when final and use foundation variables instead :)
 
$body-font-weight: 300;
$header-font-family: "Work Sans", sans-serif;
$header-font-weight: 400;
$header-font-color: #323232;
$paragraph-font-weight: $body-font-weight;

 */


@font-face {
    font-family: "ese-icon";
    src:url("../static/fonts/ese-icons/ese.eot");
    src:url("../static/fonts/ese-icons/ese.eot?#iefix") format("embedded-opentype"),
    url("../static/fonts/ese-icons/ese.woff") format("woff"),
    url("../static/fonts/ese-icons/ese.ttf") format("truetype"),
    url("../static/fonts/ese-icons/ese.svg#ese") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "ese-icon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 30px !important;
}

.icon-social-facebook:before {
    content: "\e000";
}
.icon-social-twitter:before {
    content: "\e001";
}
.icon-ifsr:before {
    content: "\e002";
}
.icon-social-github:before {
    content: "\e003";
}


.clear {
    clear: both;
}

footer {
    padding: 2rem 0;
    width: 100%;
    background: #323232;
}


/*
.banner .logo img {
    display: block;
    width: 64px;
    height: 64px;
}
.banner .logo img {
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
    border-radius: 100%;
}
*/

body {
    overflow-x: hidden;
    font-size: 1em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


h1,
h2,
h3,
h4,
h5,
h6 {
font-weight:600 !important;
}

a,
p,
span,
li {
    font-size: 95% !important;
}



/*
 * Pace
 */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {}

.pace .pace-progress {
    background: darken($primary-color, 5%);
    position: fixed;
    z-index: 20000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
}


/* fancy dotted highlighting for links */
p a{
    transition: color ease-in-out 0.22s, background-image ease-in-out 0.22s;

    background-image: linear-gradient(to right, darken($primary-color, 5%) 35%, rgba(255, 255, 255, 0) 20%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;

    &:hover{
        color: darken($primary-color, 15%);
        background-image: linear-gradient(to right, darken($primary-color, 15%) 35%, rgba(255, 255, 255, 0) 20%);
    }
}

a {
    outline: 0;
    transition: color ease-in-out 0.22s;
    
    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
    &:hover {
        color: darken($primary-color, 15%);
    }
}



/**
 * JS and non-JS Styles
 */

.js-only {
    display: none;
}

html.js .js-only {
    display: block;

    &.inline {
        display: inline;
    }
    &.inline-block {
        display: inline-block;
    }
}



/*
  * Sidebar Styles
  * override right padding for column to match with title bar
  */

.sidebar-column {
    padding-right: 0rem !important;
}

.sidebar {
    padding-top: 4.25rem;
}

.ese-logo {
    margin-bottom: 0.4rem;
}

.sidebar-item {
    color: $white;
    background-color: $primary-color;
    margin-bottom: 0.35rem;
    padding-top: 0.475rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
        text-align: left;
    }
    p {
        font-size: small;
    }
    a {
        color: $white;
        text-decoration: underline;

        &:hover,
        &:active,
        &:focus {
            color: darken($white, 20%);
        }
    }
}



/**
 * Slick Slider
 */

.slider.slick-slider {
    margin-bottom: 0;
}



/**
 * Timetable
 */

table {
    background-color: $white-smoke;

    thead {
        th {
            background: $gainsboro;
        }
    }
    tbody {

        tr {

            &.full-hour {

                .time {
                    padding: 0.4rem;
                }
            }
            td {
                vertical-align: top;
                background: transparent;
                padding: 0;

                &.date {
                    font-weight: bold;
                    padding: 0.4rem;
                }
                &.data {
                    border: 1px solid black;
                    padding: 0.4rem;
                    overflow: hidden;

                    &:hover {
                        background-color: $brand-color;
                        cursor: pointer;
                    }

                    &.en {
                        box-shadow: inset 0 0 10px $year-color;
                    }

                    a {
                        $arbitrary-large-number-to-make-whole-cell-clickable: 1000px;
                        margin: -$arbitrary-large-number-to-make-whole-cell-clickable;
                        padding: $arbitrary-large-number-to-make-whole-cell-clickable;

                        &:hover {
                            color: $black;
                        }
                    }
                }

                div.table-spacer {
                    height: 1.4rem;
                }
                .data {
                    height: 2em;
                    overflow: visible;
                    background: transparent;
                }
            }

            &:nth-of-type(odd) {
                background: $white-smoke;
            }
            &:nth-of-type(even) {
                background: $silver;
            }
        }
    }
}

ul.accordion {
    margin-left: 0;

    .accordion-navigation>#timetable.content {
        padding: 0;
    }
}

#barrierfree,
#eventlist {

    .en {
        color: $success-color;
    }
}

.event {
    // hack to avoid hiding of link targets by fixed header
    $top-bar-height-from-foundation: 3.75rem + 3rem;
    padding-top: $top-bar-height-from-foundation;
    margin-top: -$top-bar-height-from-foundation;
}

/**
 *   Styles for the Skip link
 */

.element-invisible {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;

    &.element-focusable:active,
    &.element-focusable:focus {
        clip: auto;
        height: auto;
        overflow: visible;
        position: static !important;
    }
}



/**
 *   Language switcher
 */

.language-switcher {

    .language-list {
        list-style: none;
        margin-left: 0;

        li {
            margin-left: 1.375rem;

            &:first-of-type {
                margin-left: 0;
            }
        }
    }
    img.language-icon {
        filter: url(asset_path('desaturate.svg'));
        margin-top: -0.2rem;
    }
    .language-link {
        text-decoration: none;

        &.active {
            cursor: default;
            pointer-events: none;
        }
        &.active,
        &:hover,
        &:focus {

            img.language-icon {
                filter: none;
            }
        }
    }
}

@media screen and (min-width: 40em) and (max-width: 42.6875em) {

    .language-switcher {

        .language-list {

            li {
                margin-left: 0;
                float: none;
            }
        }
    }
}



/**
 * Icons
 */

.icon {

    >svg {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: middle;

        path {
            fill: $jumbo;
        }
    }
}



/**
 * Schedules
 */

.schedulehead {
    margin: .5em auto;
    page-break-before: always;
}

table.schedule {
    margin: .5em auto;
    border: 2px solid white;
    outline: 2px solid #eee;

    td,
    th {
        outline: 1px solid white;
        border: none;
        padding: .5em;
    }
}

@media print {
    .schedulehead {
        font-size: 40pt;
        display: block;
        padding-top: 20pt;
    }

    table.schedule {
        border: 0;
        td,
        th {
            font-size: 23pt;
            height: 50pt;
            line-height: 25pt;
        }
        td.data,
        td.empty {
            outline: 1px solid black;
        }
    }

    hr {
        display: none;
    }
}

span.label a{
    background-image: none;
}