/*
 * CONTENT
 * includes: NEWS
 * TODO: add SLIDER
 */

.slider-container {
    /* to allow news overlay */
    position: relative;
}

#content {
    padding-top: 3.75em;
}

#content .background {
    background: #fff;
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .05);
}


/* 
 * NEWS 
 * By default the news box appears as an overlay on the bottom of the slider
 * However, on small screens it will pe positioned below the slider
 */

.news {
    padding-top:0.75rem;
    padding-bottom: 1.25rem !important;
    position: relative;
    margin: 0 !important;
    width:100%;
}

.news p{
    margin: 0;
}

@media #{$small-only} {
.news {
    position: relative;
    }}
@media #{$medium-up} {
    .news {
    
        position: absolute;
        bottom: 0;
    }
}

/* light background */
.news.light{
    background: rgba(222,222,222,0.85);
    color: #333;
}
.news.light h3{
    color: #333 !important;
}


/* dark background */
.news.dark{

    background: rgba(42,42,42,0.75);
    color: #fff !important;
}
.news.dark h3{
    color: #fff !important;
}

/* 
 * CONTENT 
 * Note: some defintions are also applied to news
 */

#content .background>section,
#content .background>article {
    padding-top: 0;
    padding-bottom: 3rem;
}

#content .background>section:first-of-type,
#content .background>article:first-of-type {
    padding-top: 2.2rem;
}

/* change side margins depending on screen width */

@media #{$small-only} {

    #content .background>section,
    #content .background>article,
    .news {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

@media #{$medium-only} {
    #content .background>section,
    #content .background>article,
    .news {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media #{$large-up} {

    #content .background>section,
    #content .background>article,
    .news{
        padding-left: 3em;
        padding-right: 3em;
    }
}

div#timetable {
    overflow-y: auto;
}

#content ul {
  list-style: none;
  margin-left: 1.8rem;
}

#content ul li {
  position: relative;
}

#content ul li:before {
  content: '';
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDgxLjcgNDgxLjgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4MS43IDQ4MS44OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzNDOTJDQTt9LnN0MXtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PGc+PGc+PGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iMjQwLjgiIGN5PSIyNDAuOSIgcj0iMjQwLjkiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMTg4LjUsMzUwLjVjMi42LDIuNiw2LjEsMy45LDkuNCwzLjljMy40LDAsNi45LTEuMyw5LjQtMy45bDEwMC4xLTEwMC4xYzIuNi0yLjYsMy45LTUuOSwzLjktOS40cy0xLjMtNi45LTMuOS05LjRMMjA3LjQsMTMxLjRjLTUuMy01LjMtMTMuNi01LjMtMTguOSwwYy01LjMsNS4zLTUuMywxMy42LDAsMTguOWw5MC43LDkwLjdsLTkwLjcsOTAuN0MxODMuNCwzMzYuOSwxODMuNCwzNDUuMywxODguNSwzNTAuNXoiLz48L2c+PC9nPjwvc3ZnPg==);
  width: 12px;
  height: 12px;
  position: absolute;
  left: -1.2rem;
  top: 6px;
}