/*
 * HEADER
 * includes: TITLE, LANGUAGE SWITCHER, MENU BUTTON
 */

/* Fixes the header 
TODO: clean up
*/

/* Topbar settings
* overriding foundation
$topbar-height: 5rem;
.top-bar .menu a { 
    height: $topbar-height;
    line-height: $topbar-height;
}
.top-bar .menu > li:not(.menu-text) > a {
    padding: 0 1rem;
}
 
.top-bar-section ul li>a {
font-size: 1rem !important;
}
*/


header {
    position: fixed;
    width: 100%;
    z-index: 222;
    background-color: $primary-color;
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .05);
}

header a {
    font-weight: 300 !important;
}

header a:hover {
    text-decoration: none;
}

.top-bar a {
    color: white;
}

.name,
.name h1,
.name h1 a {
    display: inline !important;
}

.title-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.title-area div {
    display: inline-block;
}

.title-area div li {
    display: inline-block;
    line-height: 3.75rem;
    font-size: 0.8125rem;

}
.title-area div li a{
	display: block;
	    padding: 0rem 1rem;
}
/*
.top-bar .toggle-topbar {
    position: relative !important;
}

.top-bar .toggle-topbar.menu-icon {
    margin-top: 0 !important;
    top: 0 !important;
}
*/

li.language-switch{
    list-style: none;
}

.title-area .language-switch:hover {
    background-color: scale-color($primary-color, $lightness: -14%);
}
.language-icon{
	vertical-align: unset !important;
}

