/* 
 * SIDEBAR
 * includes: LOGO, NAVIGATION, SOCIAL MEDIA 
 */


.sidebar {
    font-size: 13px;
    line-height: 1em;
    position: fixed;
}

nav ul {
    list-style: none
}

nav ul li{
    font-size: 1.0rem !important;
    padding: 3.5px 0;
    font-weight: 600;
}

nav ul li ul {
    border-left: 2px solid #ccc;
    padding-left: .75rem;
}

nav ul li ul li{
    font-weight: 400!important;
}

@media #{$large-up} {
    nav {
        width: 300px;
    }

    #content {
        padding-left: 300px;
    }

    nav li>a,
    nav li>a:visited {
        color: black;
    }

    nav li>a:hover {
        color: scale-color($primary-color, $lightness: -14%);
    }

    nav li.active>a {
        color: scale-color($primary-color, $lightness: -14%);
    }
}

nav,
.sidebar section {
    margin: 1rem;
}

nav.top-bar-section{
    text-align: center;
}


/* Logo
*************************************/
a.banner{
  display:block;
}

div.banner {
    padding: 20px;
    margin-left: 1rem;
}

div.banner .logo {
    float: left;
}

div.banner .logo img {
    height: 100px;
}

div.banner .name {
    height: 100px;
    float: left;
    margin-left: 5px;
    font-size: 3.2rem;
    line-height: 1em;
    font-weight: 700;
    color: $primary-color;
    display: table;
}

div.banner .name span {
    display: table-cell;
    vertical-align: middle;
}


/* Description
*************************************/
div.description {
    padding: 0 2.5rem 0 2rem;
}




.sidebar-column {
     width: 300px !important;
     /* position: fixed !important; */
 }

.sidebar hr {
    width: 90%;
    margin: 0 auto;
}

.additionals p {
    margin-bottom: 0.2rem;
}