@charset "utf-8";

$baseurl: "{{ site.baseurl }}";

/**
 * Yearly settings
 */

$year-color: #056d85;
$brand-color: lighten($year-color, 20%);

@import "mixins/config";
@import "mixins/fonts";

/* ************ *
 *           	*
 *  foundation  *
 *           	*
 * ************ */
@import "foundation/foundation";


// Libraries
@import "libraries/slick";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "mixins/default";
@import "mixins/page";

@import "mixins/componets/introduction";
@import "mixins/componets/countdown";
@import "mixins/componets/events";

@import "mixins/componets/nav-main";
@import "mixins/componets/nav-language";
@import "mixins/componets/nav-pages";
@import "mixins/componets/nav-short";

@import "mixins/componets/slider";
@import "mixins/componets/slider-events";

@import "mixins/componets/scheduler";

