@charset "utf-8";

$baseurl: "{{ site.baseurl }}";

/**
 * Yearly settings
 */
$year-color: #0D5F98;
$brand-color: #2A7AE2;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "foundation/functions",
        "init",
        "custom",
        "foundation/settings",
        "foundation",
        "normalize",
        "header",
        "sidebar",
        "content";
