@charset "utf-8";

$baseurl: "{{ site.baseurl }}";

/**
 * Yearly settings
 */
$year-color: #CB6040;
$brand-color: lighten($year-color, 20%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "foundation/functions",
        "init",
        "custom",
        "foundation/settings",
        "foundation",
        "normalize",
        "header",
        "sidebar",
        "content",
        "footer";
