---
title: ESE 2015
---

 <h2>Was?</h2>

 {% include_relative info/einfuehrungstext.html %}

 <h2>Wann?</h2>

 <p>Die ESE startet am Montag mit Frühstück um 9 Uhr. Bring bitte am Montag deinen <strong>Studentenausweis</strong>, deine <strong>E-Meal Bescheinigung</strong> (Immatrikulationsbogen) und <strong>10 Euro</strong> (5€ Pfand + 5€ oder mehr als Guthaben) für die Mensakarte mit.</p>

 <p><em>Wenn nicht anders angegeben finden alle Veranstaltungen in der Fakultät Informatik im Raum E023 (einfach im Foyer Tutoren in lila Shirts folgen).</em></p>

 <p><a href="zeitplan.html">Barrierefreie Version des Zeitplans</a></p>

 {% include zeitplan.html %}

 <p><a href="ESE.ics">Download</a> des aktuellen Zeitplans als iCal Datei. Kann direkt in den Kalender importiert werden. Aber Achtung: Updatet sich nicht von selbst!</p>
