#countdown {
    text-align: center;
    padding-bottom: 4rem;
    
    div {
        display: inline-block;
        line-height: 1;
        padding: 20px;
    }
    
    p {
        font-family: $font-light;
        font-size: rem-calc(21px);
        color: rgb(100, 100, 100);
        margin: 0;
    }
    
    #days {
        font-size: 100px;
        color: #db4844;
    }
    
    #hours {
        font-size: 100px;
        color: #f07c22;
    }
    
    #minutes {
        font-size: 100px;
        color: #f6da74;
    }
    
    #seconds {
        font-size: 50px;
        color: #abcd58;
    }
}