<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="centered site-wrapper wrapper">
      <div class="page-content left">
        <div class="wrapper content">
          {% include header.html %}
          {{ content }}
        </div>
      </div>

      <div class="sidebar right">
        {% include sidebar.html %}
      </div>

      <div class="clearfix">
      </div>

      {% include footer.html %}
    </div>
    {% for script in site.data.scripts.post %}
      {% include script.html script=script %}
    {% endfor %}
  </body>

</html>
