<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="centered site-wrapper wrapper">
      <div class="page-content left">
        <div class="wrapper content">
          {% include header.html %}
          {{ content }}
        </div>
      </div>

      <div class="sidebar right">
        {% include sidebar.html %}
      </div>

      <div class="clearfix">
      </div>

      {% include footer.html %}
    </div>
    <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/foundation/js/foundation.min.js"></script>
    <script type="text/javascript" src="vendor/js/app.js"></script>
  </body>

</html>
