<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="row">
      <div class="column small-12 medium-9">

        {% include header.html %}

        <div class="column small-12">
          {{ content }}
        </div>
      </div>

      <div class="column small-12 medium-3">
        <div>
          <div class="row">
            <div class="ese-logo toggle-header small-12 column"></div>
          </div>
          <div class="row">
            <div class="column sidebar-header small-12 toggle-header"></div>
          </div>
        </div>
        {% include sidebar.html %}
      </div>

    </div>

  {% include footer.html %}
  {% include lateload-scripts.html %}
  </body>

</html>
